<div>
<div class="layout-topbar ui-g-12" style="background-color: #0ff0b3;  background-image: linear-gradient(to right, #0ff0b3, #036ed9);">
    <!-- <img href="#default" class="logo ui-g-1 dashboard" src="../../assets/layout/images/dashboard/tncsc-logo.png" alt="logo"
    style="max-width: 60px; max-height: 50px;width: 100px;padding-right: initial"/>
    <div> -->
    <!-- <button class="layout-topbar-logo dashboard" pButton type="button"
    icon="pi pi-bars" style="font-size: 1.2em;background: transparent !important;"></button> -->
    <i class="ui-g-1 ui-md-1 dashboard fa fa-bars cursor-pointer" aria-hidden="true" style="color: whitesmoke; font-size: 1.5em;" (click)="onMenuClick()"></i>
    <h1 class="ui-g-6 dashboard" style="margin-left: -55px;text-align: start;">Tamilnadu Civil Supply Corporation</h1>
    <h3 class="ui-g-6 dashboard txt-center" style="margin-left: -55px">Supply Chain Management System(SCM)</h3>
    <i style="float: right; color: whitesmoke;font-size: 2.2em; margin-top: -15px;" class="fa fa-user-circle"></i>
</div>
</div>
